@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: var(--font-family);
  color: rgb(var(--foreground-rgb));
  background: #62AAA6;
}

:root {
  --font-family: 'Lexend';
}